body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.my_container {
  width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .my_container {
    max-width: 960px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .my_container {
    max-width: 750px;
    width: 100%;
  }
}

.button {
  border-radius: 10px;
  background-color: #05951dd3;
  color: white;
  border: none;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  padding: 10px 15px;
  outline: none;
}

.navbar {
  background-color: #ff7f00;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 200px;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__address {
  font-size: 16px;
  margin-bottom: 5px;
  font-family: 'Lato', sans-serif;
}

.navbar__phone:nth-child(1) {
  padding-right: 30px;
}

.navbar__phone {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 960px) {
  .navbar__logo {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .navbar__logo {
    width: 20%;
  }
  .navbar__address {
    display: none;
  }
}

@media (max-width: 545px) {
  .navbar__phone {
    font-size: 14px;
  }
  .navbar__button {
    padding: 5px 5px;
    font-size: 14px;
  }
}

@media (max-width: 445px) {
  .navbar__logo {
    margin-left: 20px;
  }
  .navbar__contacts {
    margin-right: 10px;
  }
  .navbar__phone {
    font-size: 12px;
  }
  .navbar__button {
    font-size: 12px;
  }
}

@media (max-width: 427px) {
  .navbar__button {
    padding: 5px 10px;
  }
}

.about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 446px;
}

.about .price {
  max-width: 585px;
  width: 100%;
  height: 100%;
  background-color: #05951d63;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .price-list {
  max-width: 500px;
  width: 100%;
  height: 80%;
  margin-left: 35px;
  margin-right: 35px;
  padding-bottom: 25px;
}

.about .price__head {
  color: white;
  background-color: #e2b054;
  padding: 30px;
  text-align: center;
}

.about .price td {
  text-align: center;
  background-color: #e2b054;
}

.about .price caption {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 30px;
  background-color: #e2b054;
  color: black;
}

.about .map {
  width: 50%;
  height: 446px;
}

@media (max-width: 875px) {
  .about .about-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .price {
    max-width: 875px;
    width: 100%;
  }
  .about .price-list {
    max-width: 875px;
    width: 100%;
  }
  .about .map {
    margin-top: 20px;
    width: 100%;
    height: 223px;
  }
}

@media (max-width: 585px) {
  .about .price {
    width: 100%;
  }
  .about .price-list {
    width: 85%;
  }
}

@media (max-width: 480px) {
  .about .price {
    width: 100%;
  }
  .about .price-list {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .about .price {
    width: 100%;
  }
  .about .price-list {
    width: 80%;
    font-size: 12px;
  }
  .about .price__head {
    padding: 5px;
  }
}

.foto {
  margin-top: 20px;
}

.foto-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.foto__item {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 220px;
  margin-bottom: 20px;
}

.quote-block {
  margin: 20px 0 20px 0;
  background: white;
  border-top: 5px solid #05951d63;
  border-bottom: 5px solid #05951d63;
  color: #3A3C55;
  padding: 30px 90px 30px 90px;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
}

.quote-block::before {
  content: "\201C";
  font-family: serif;
  position: absolute;
  left: 20px;
  top: 20px;
  color: white;
  background: #FB6652;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 50px;
  line-height: 1.35;
  text-align: center;
}

.quote-block::after {
  content: "\201C";
  font-family: serif;
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: white;
  background: #FB6652;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 50px;
  line-height: 1.35;
  text-align: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.quote__item {
  margin: 0 0 16px;
  font-size: 22px;
  letter-spacing: .05em;
  line-height: 1.4;
}

.quote__footer {
  font-style: normal;
}

@media (max-width: 400px) {
  .quote .quote__item {
    font-size: 16px;
  }
}

.footer {
  background-color: #ff7f00;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-block p {
  padding: 0 20px 0 20px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
/*# sourceMappingURL=style_valera.css.map */