.about
	&-block
		display: flex
		justify-content: space-between
		align-items: center
		box-shadow: 0 0 10px rgba(0,0,0,0.5)
		background-color: #5F9EA0
		height: 446px
	.price
		width: 500px
		margin-left: 35px
		caption
			margin-left: 2px
			margin-right: 1px
			line-height: 30px
			background-color: #ff7f00
			color: black
		&__head
			color: black
			background-color: #ff7f00
			padding: 30px
		&__item
			color: white
			background-color: #ff7f00
			padding: 30px